@use '../../main';

.header--title {
  @extend .spectrum-global, .spectrum-Heading, .spectrum-Heading--sizeXXL;
  font-style: italic;
}

.features--title {
  @extend .spectrum-global, .spectrum-Heading, .spectrum-Heading--sizeXL;
  font-style: italic;
  text-align: center;
}

.tools--title {
  @extend .spectrum-global, .spectrum-Heading, .spectrum-Heading--sizeM;
  font-style: italic;
  text-align: center;
}

.tools--content {
  text-align: center;
  max-width: 270px;
}

.tools--icon {
  text-align: center;
  display: flex;
  border-radius: 100%;
  border-width: 7px;
  border-color: var(--spectrum-gray-400);
  padding: 10px;
  border-style: solid;
  color: var(--spectrum-gray-500);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
